
main .recent-citas{
    margin: 20px;
}

main .recent-citas h2{
    margin-bottom: 0.8rem;
}

main .recent-citas a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    max-height: 35%;
}



/* Estilo para el botón desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para el contenido desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilo para los enlaces en el contenido desplegable */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Cambia el color de fondo de los enlaces al pasar el cursor por encima */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Muestra el contenido desplegable al pasar el cursor por encima del botón */
.dropdown:hover .dropdown-content {
    display: block;
}



/*=================== Formulario ======================*/
form {
    max-width: 590px;
}

.checkout-information,
.input-group {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.checkout-information {
	background: #8FBBC8;
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.checkout-information:hover{
    box-shadow: none;
}

.input-group2 input, textarea, select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: var(--color-background);
    color: #7B7C89;
}

.input-group2{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.input-group input{
	width: 100%;
	padding: 10px 15px;
	border-radius: 8px;
	background-color:var(--color-background);
    height: 100%;
}
.input-group h3 {
    font-size: 0.80rem;
    color: white;
}
