
main .recent-citas{
    margin: 20px;
}

main .recent-citas h2{
    margin-bottom: 0.8rem;
}

main .recent-citas a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    max-height: 35%;
}



/* Estilo para el botón desplegable */
/* Estilos para las opciones del botón */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilos para las opciones del botón cuando se muestra */
.dropdown-content.active {
    display: block;
}

/* Estilos para las opciones del botón */
.dropdown-content a {
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}


/*=================== Formulario ======================*/
form {
    max-width: 590px;
}

.checkout-information,
.input-group {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.checkout-information {
	background: #8FBBC8;
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.checkout-information:hover{
    box-shadow: none;
}

.input-group2 input, textarea, select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: var(--color-background);
    color: #7B7C89;
}

.input-group2{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.input-group input{
	width: 100%;
	padding: 10px 15px;
	border-radius: 8px;
	background-color:var(--color-background);
    height: 100%;
}
.input-group h3 {
    font-size: 0.80rem;
    color: white;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: hidden;
  }

  /* Estilos para el contenido del modal */
  .containerModalEliminar {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
  }
  /* Estilos para el fondo opaco */
.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  /* Estilos para el cuadro de diálogo del modal */
  .modal-dialog {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }
  
  /* Estilos para el botón de cierre del modal */
  .close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin: 0!important;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* boton modal*/
.button-modal {
    color: white; 
    padding: 7px 15px; 
    border: none; 
    outline: none;
    border-radius: 5px;  
    font-size: 12px; 
    font-weight: 600;
}
/* boton cancelar*/
.button-cancelar {
    background-color: var(--color-primary);
}

/* boton delete*/
.button-delete {
    background-color: var(--color-danger);
}

.button-editar {
    background-color: var(--color-danger);
}

.button-modal:hover {
    cursor: pointer;
    color:#dcdcdc;
}

.modal-button-container {
    display: flex;
    gap: 15px;
    justify-content: end;
}

.message_dialog label{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}
.message_dialog input[type="text"],
input[type="date"],
input[type="number"],
input[type="time"],
select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #F5F5F5;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.dialog{
    padding-top: 0;
    padding-bottom: 0;
}
